# Build folder

/build

# Compiled files

*.o
*.obj
*.out
*.exe
*.a
*.so
*.dll

# CMake files

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Mac system files

.DS_Store

# VSCode settings

.vscode/

# Temporary files

*.log
*.tmp
